@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* for default.html */

.container {
    margin: 1%;
    padding: 1%;
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div#main {
    padding: 2%;
}

div#header {
    display: flex;
    justify-content: space-between;
}

a {
    color: #1772d0;
    text-decoration: none;
}

a:hover {
    color: #f09228;
}

.nav-button#home {
    color: black;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

.nav-button#blog {
    font-size: 24px;
}

/* for blog.html */

div.category-label {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 1%;
}
