---
layout: default
---

<div class="introduction">
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
    <td style="padding:2.5%;width:60%;vertical-align:middle">
        <h1>
        Younghan Park
        </h1>
        <p>I study <b>Natural Language Processing (NLP)</b>, focusing on both written and spoken language. I got my BS in CSE from <a href="https://yonsei.ac.kr/sites/en_sc/index.do">Yonsei University</a>, where I had a fortune to be advised by Prof. <a href="https://yj-yu.github.io/home/">Youngjae Yu</a>. Also, I spent my junior year at <a href="https://www.utexas.edu/">The University of Texas at Austin</a>, where I was fortunate to be advised by Prof. <a href="https://eunsol.github.io/">Eunsol Choi</a> and Prof. <a href="https://www.cs.utexas.edu/~harwath/">David Harwath</a>.</p>
        <p>My long-term goal is to build machines that can perceive, understand, and use language in a human-like way. My current areas of interest are:</p>
        <ul>
        <li><b>Multimodal Language Understanding</b>: How can we teach machines to understand the information that arises from the fusion of text and other modalities? What if the context is complex, long, or unstructured?</li>
        <li><b>Natural Speech Generation</b>: How should non-textual information, such as contextual and prosodic cues, be modeled and processed when generating human-like responses?</li>
        </ul>
        <p>🎉 I was recently selected as a recipient of the <b>Korean Government Scholarship Program for Study Overseas</b>. With this great opportunity, I will be applying to MS programs in the US for the Fall 2026 semester!</p>
        <p style="text-align:center">
        Email: younghanpark [at] yonsei [dot] ac [dot] kr<br>
        <a target="_blank" href="pdfs/cv.pdf">Curriculum Vitae</a>&nbsp;/&nbsp;
        <a href="https://github.com/younghanstark">GitHub</a>&nbsp;/&nbsp;
        <a href="https://scholar.google.com/citations?user=FVOLrDkAAAAJ">Google Scholar</a>&nbsp;/&nbsp;
        <a href="https://www.linkedin.com/in/younghan-park/">LinkedIn</a>
        </p>
    </td>
    <td style="padding:2.5%;width:40%;max-width:40%">
        <img style="width:100%;max-width:100%;border-radius:50%;" alt="profile photo" src="images/profile.jpg">
    </td>
    </tr>
</table>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">News</h2>
<div style="padding:2.5%">
    <ul style="margin: 0; padding-left: 2.5%">
        <li>(Dec 2025) I started my internship at <b>KRAFTON Inc.</b>, as a deep learning engineer intern in the AI Research Division.</li>
        <li>(Oct 2025) I completed my internship at <b>NAVER Cloud Corporation</b>.</li>
        <li>(Aug 2025) I <b>graduated with high honors</b> at Yonsei University.</li>
        <li>(Jul 2025) I have been selected as a recipient of the <b>Korean Government Scholarship Program for Study Overseas (대한민국 정부 국비유학)</b>.</li>
        <li>(Jul 2025) My first first-authored paper is accepted at <b>COLM 2025</b>.</li>
        <li>(Jul 2024) I am excited to share that I have been selected as a recipient of the <b>Presidential Science Scholarship (대통령과학장학금)</b>.</li>
    </ul>
</div>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Education</h2>
<table style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr><td style="width:100%;vertical-align:middle">
    <h3>Yonsei University</h3>, Seoul, South Korea<br>
    B.S. in Computer Science and Engineering, Mar 2020 - Aug 2025
    <p></p> <!-- put an empty paragraph between the rows -->
    </td></tr>
    <tr><td style="width:100%;vertical-align:middle">
    <h3>The University of Texas at Austin</h3>, Austin, TX, United States<br>
    Exchange Student, Computer Science, Aug 2023 - May 2024
    <!-- don't put an empty paragraph after the last row -->
    </td></tr>
</table>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Honors and Awards</h2>
<div style="padding:2.5%">
    <ul style="margin: 0; padding-left: 2.5%">
        <li>
            <b>The Korean Government Scholarship Program for Study Overseas</b>, <i>Starting Fall 2026</i><br>
            $80,000 in pursuit of master's degree in US (selected as one of three recipients in the <i>digital</i> category)
        </li>
        <li>
            <b>Presidential Science Scholarship</b>, <i>Mar 2024 - Aug 2025</i><br>
            Full tuition and stipend for junior and senior years (selected as one of 60 students nationwide)
        </li>
        <li>
            <b>Graduation with High Honors</b>, Yonsei University, <i>Aug 2025</i><br>
            Awarded to 2 out of 88 students in the College of Computing
        </li>
        <li>
            <b>High Honors</b>, Yonsei University, <i>Fall 2024</i>
        </li>
        <li>
            <b>Merit-based Scholarship</b>, Yonsei University, <i>Spring 2021, Spring 2023, Fall 2023</i>
        </li>
        <li>
            <b>University Honors</b>, The University of Texas at Austin, <i>Fall 2023</i>
        </li>
        <li>
            <b>Honors</b>, Yonsei University, <i>Fall 2020, Spring 2021, Spring 2023</i>
        </li>
        <li>
            <b>Best Tutor</b>, Yonsei University, <i>Spring 2021</i><br>
            Yonsei CSI2100: Computer Programming
        </li>
    </ul>
</div>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Publications and Patents</h2>
<p style="padding:1% 2.5% 0% 2.5%;margin:0">
    *: equal contribution, ^: equal advising
</p>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
        <td style="padding:2% 2.5% 0% 2.5%;width:25%;vertical-align:middle;min-width:120px"><b><u>Preprints</u></b></td>
    </tr>
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for page in sorted_pages reversed %}
    {% if page.class == "preprint" %}
    <tr>
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
        <img src="{{page.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
    </td>
    <td style="padding:2.5%;width:75%;vertical-align:middle">
        <h3>{{ page.title }}</h3><br>
        {{ page.author }}<br>
        Under Review at <i>{{ page.venue }}</i>, {{ page.year }}<br>
        {% for item in page.links %}
        <a href="{{ item.url }}">{{ item.title }}</a>{% if forloop.last == false %} / {% endif %}
        {% endfor %}
        <br>
        <em>{{page.description}}</em>
    </td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
        <td style="padding:0% 2.5% 0% 2.5%;width:25%;vertical-align:middle;min-width:120px"><b><u>Conference Publications</u></b></td>
    </tr>
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for page in sorted_pages reversed %}
    {% if page.class == "conference" %}
    <tr>
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
        <img src="{{page.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
    </td>
    <td style="padding:2.5%;width:75%;vertical-align:middle">
        <h3>{{ page.title }}</h3><br>
        {{ page.author }}<br>
        <i>{{ page.venue }}</i>, {{ page.year }}<br>
        {% for item in page.links %}
        <a href="{{ item.url }}">{{ item.title }}</a>{% if forloop.last == false %} / {% endif %}
        {% endfor %}
        <br>
        <em>{{page.description}}</em>
    </td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
        <td style="padding:0% 2.5% 0% 2.5%;width:25%;vertical-align:middle;min-width:120px"><b><u>Patents</u></b></td>
    </tr>
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for page in sorted_pages reversed %}
    {% if page.class == "patent" %}
    <tr>
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
        <img src="{{page.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
    </td>
    <td style="padding:2.5%;width:75%;vertical-align:middle">
        <h3>{{ page.title }}</h3><br>
        {{ page.author }}<br>
        <i>{{ page.venue }}</i> No. {{ page.number }}. {{ page.status }}.<br>
        {% for item in page.links %}
        <a href="{{ item.url }}">{{ item.title }}</a>{% if forloop.last == false %} / {% endif %}
        {% endfor %}
        <br>
        <em>{{page.description}}</em>
    </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Experience</h2>
<table style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr><td style="width:100%;vertical-align:middle">
        <h3><a href="https://www.krafton.com/en/">KRAFTON Inc.</a></h3> (The Publisher of PUBG: Battlegrounds), <i>Dec 2025 - Present</i><br>
        Deep Learning Engineer Intern, AI Research Division<br>
    <p></p>
    </td></tr>
    <tr><td style="width:100%;vertical-align:middle">
    <h3><a href="https://www.navercloudcorp.com/en/">Naver Cloud Corporation</a></h3>, <i>Jun 2025 - Oct 2025</i><br>
    Research Intern, Voice Technology<br>
    <p></p>
    </td></tr>
    <tr><td style="width:100%;vertical-align:middle">
    <h3><a href="https://www.nlp.utexas.edu/">NLP Group</a></h3>, The University of Texas at Austin, <i>Aug 2023 - May 2025</i><br>
    Visiting Student (Advisors: Prof. <a href="https://eunsol.github.io/">Eunsol Choi</a>, Prof. <a href="https://www.cs.utexas.edu/~harwath/">David Harwath</a>)
    <p></p>
    </td></tr>
    <tr><td style="width:100%;vertical-align:middle">
    <h3><a href="https://pi.snu.ac.kr/">Multimodal Intelligence Research Lab</a></h3>, Yonsei University, <i>Feb 2023 - Aug 2023</i><br>
    Undergraduate Research Intern (Advisor: Prof. <a href="https://yj-yu.github.io/home/">Youngjae Yu</a>)
    <p></p>
    </td></tr>
    <tr><td style="width:100%;vertical-align:middle">
    <h3>Korean Augmentation to the US Army (KATUSA)</h3>, <i>Jul 2021 - Jan 2023</i><br>
    Specialty: Military Police, Final Rank: Sergeant<br>
    <p></p>
    </td></tr>
    <tr><td style="width:100%;vertical-align:middle">
    <h3>MouthMouse</h3>, <i>Apr 2020 - Jul 2021</i><br>
    Co-Founder, Software Engineer<br>
    </td></tr>
</table>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Selected Projects</h2>
<!-- <p style="padding:1% 2.5% 0% 2.5%;margin:0">
    Prior to research, I've also had the chance to participate in a lot of fun and interesting projects.
</p> -->
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    {% assign sorted_pages = site.pages %}
    {% for page in sorted_pages reversed %}
    {% if page.layout == "project" %}
    <tr>
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
        <img src="{{page.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
    </td>
    <td style="padding:2.5%;width:75%;vertical-align:middle">
        <h3>{{ page.title }}</h3>, {{ page.period }}<br>
        {% for item in page.links %}
        <a href="{{ item.url }}">{{ item.title }}</a>{% if forloop.last == false %} / {% endif %}
        {% endfor %}
        <br>
        <i>{{page.description}}</i>
        {% if page.award %}
        <br>{{ page.award }}
        {% endif %}
    </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Misc.</h2>
<p style="padding:1% 2.5% 0% 2.5%;margin:0">
    Here are some blog posts and other miscellaneous things I've written or want to share:
</p>
<div style="padding:2.5% 2.5% 0% 2.5%">
    <ul style="margin: 0; padding-left: 2.5%">
        {% assign sorted_posts = site.posts | sort: "date" | reverse %}
        {% for post in sorted_posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>, {{ post.date | date: "%b %Y" }}
        </li>
        {% endfor %}
    </ul>
</div>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr><td style="padding:2.5%">
    <!-- TODO: apply https://github.com/gjtorikian/jekyll-last-modified-at -->
    <p>
        Last updated: Dec 2025<br>
        Adapted from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's fork</a> of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>.
    </p>
    <p></p>
    </td></tr>
</table>
</div>
