---
layout: default
---

<div class="introduction">
<div class="intro-grid">
    <h1 class="intro-name">Younghan Park</h1>
    <div class="intro-photo">
        <img alt="profile photo" src="/images/profile.jpg">
    </div>
    <div class="intro-bio">
        <p>I study <b>Natural Language Processing (NLP)</b>, focusing on both written and spoken language. I got my BS in CSE from <a href="https://yonsei.ac.kr/sites/en_sc/index.do">Yonsei University</a>, where I had a fortune to be advised by Prof. <a href="https://yj-yu.github.io/home/">Youngjae Yu</a>. Also, I spent my junior year at <a href="https://www.utexas.edu/">The University of Texas at Austin</a>, where I was fortunate to be advised by Prof. <a href="https://eunsol.github.io/">Eunsol Choi</a> and Prof. <a href="https://www.cs.utexas.edu/~harwath/">David Harwath</a>.</p>
        <p>My long-term goal is to build machines that can perceive, understand, and use language in a human-like way. My current areas of interest are:</p>
        <ul>
            <li><b>Multimodal Language Understanding</b>: How can we teach machines to understand the information that arises from the fusion of text and other modalities? What if the context is complex, long, or unstructured?</li>
            <li><b>Natural Speech Generation</b>: How should non-textual information, such as contextual and prosodic cues, be modeled and processed when generating human-like responses?</li>
        </ul>
    </div>
    <p class="intro-contact">
        Email: younghanpark [at] yonsei [dot] ac [dot] kr<br>
        <a target="_blank" href="pdfs/cv.pdf">Curriculum Vitae</a>&nbsp;/&nbsp;
        <a href="https://github.com/younghanstark">GitHub</a>&nbsp;/&nbsp;
        <a href="https://scholar.google.com/citations?user=FVOLrDkAAAAJ">Google Scholar</a>&nbsp;/&nbsp;
        <a href="https://www.linkedin.com/in/younghan-park/">LinkedIn</a>
    </p>
</div>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">News</h2>
<div style="padding:2.5%">
    <ul style="margin: 0; padding-left: 2.5%">
        {% for item in site.data.news %}
        <li>({{ item.date }}) {{ item.html }}</li>
        {% endfor %}
    </ul>
</div>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Education</h2>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    {% for item in site.data.education %}
    <tr>
    <td style="padding:2.5%;width:75%;vertical-align:middle">
    <h3>{{ item.name }}</h3>, {{ item.location }}<br>
    {{ item.degree }}, {{ item.period }}
    </td>
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
        <img src="{{ item.image }}" alt="{{ item.image_alt }}" style="height:80px; width:auto; max-width:120px; object-fit:contain; display:block; margin-left:auto;" />
    </td>
    </tr>
    {% endfor %}
</table>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Honors and Awards</h2>
<div style="padding:2.5%">
    <ul style="margin: 0; padding-left: 2.5%">
        {% for item in site.data.honors %}
        <li>
            {{ item.title }}{% if item.period %}, <i>{{ item.period }}</i>{% endif %}{% if item.detail %}<br>
            {{ item.detail }}{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Publications and Patents</h2>
<p style="padding:1% 2.5% 0% 2.5%;margin:0">
    *: equal contribution, ^: equal advising
</p>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
        <td colspan="2" style="padding:2% 2.5% 0% 2.5%;vertical-align:middle"><b><u>Preprints</u></b></td>
    </tr>
    {% for item in site.data.publications.preprints %}
    <tr>
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
        <img src="{{ item.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
    </td>
    <td style="padding:2.5%;width:75%;vertical-align:middle">
        <h3>{{ item.title }}</h3><br>
        {{ item.author }}<br>
        Under Review at <i>{{ item.venue }}</i>, {{ item.year }}<br>
        {% for link in item.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>{% if forloop.last == false %} / {% endif %}
        {% endfor %}
        <br>
        <em>{{ item.description }}</em>
    </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2" style="padding:0% 2.5% 0% 2.5%;vertical-align:middle"><b><u>Conference Publications</u></b></td>
    </tr>
    {% for item in site.data.publications.conferences %}
    <tr>
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
        <img src="{{ item.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
    </td>
    <td style="padding:2.5%;width:75%;vertical-align:middle">
        <h3>{{ item.title }}</h3><br>
        {{ item.author }}<br>
        <i>{{ item.venue }}</i>, {{ item.year }}<br>
        {% for link in item.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>{% if forloop.last == false %} / {% endif %}
        {% endfor %}
        <br>
        <em>{{ item.description }}</em>
    </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2" style="padding:0% 2.5% 0% 2.5%;vertical-align:middle"><b><u>Patents</u></b></td>
    </tr>
    {% for item in site.data.patents %}
    <tr>
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
        <img src="{{ item.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
    </td>
    <td style="padding:2.5%;width:75%;vertical-align:middle">
        <h3>{{ item.title }}</h3><br>
        {{ item.author }}<br>
        <i>{{ item.venue }}</i> No. {{ item.number }}. {{ item.status }}.<br>
        {% for link in item.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>{% if forloop.last == false %} / {% endif %}
        {% endfor %}
        <br>
        <em>{{ item.description }}</em>
    </td>
    </tr>
    {% endfor %}
</table>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Experience</h2>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    {% for item in site.data.experience %}
    <tr>
    <td style="padding:2.5%;width:75%;vertical-align:middle">
    <h3>{% if item.name_url %}<a href="{{ item.name_url }}">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}</h3>{{ item.suffix }}, <i>{{ item.period }}</i><br>
    {{ item.role }}{% unless item.no_trailing_br %}<br>{% endunless %}
    </td>
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
        <img src="{{ item.image }}" alt="{{ item.image_alt }}" style="height:80px; width:auto; max-width:120px; object-fit:contain; display:block; margin-left:auto;" />
    </td>
    </tr>
    {% endfor %}
</table>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Selected Projects</h2>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    {% for item in site.data.projects %}
    <tr>
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
        <img src="{{ item.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
    </td>
    <td style="padding:2.5%;width:75%;vertical-align:middle">
        <h3>{{ item.title }}</h3>, {{ item.period }}<br>
        {% for link in item.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>{% if forloop.last == false %} / {% endif %}
        {% endfor %}
        <br>
        <i>{{ item.description }}</i>
        {% if item.award %}
        <br>{{ item.award }}
        {% endif %}
    </td>
    </tr>
    {% endfor %}
</table>

<hr>

<h2 style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">Misc.</h2>
<p style="padding:1% 2.5% 0% 2.5%;margin:0">
    Here are some blog posts and other miscellaneous things I've written or want to share:
</p>
<div style="padding:2.5% 2.5% 0% 2.5%">
    <ul style="margin: 0; padding-left: 2.5%">
        {% assign sorted_posts = site.posts | sort: "date" | reverse %}
        {% for post in sorted_posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>, {{ post.date | date: "%b %Y" }}
        </li>
        {% endfor %}
    </ul>
</div>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr><td style="padding:2.5%">
    <p>
        Last updated: Dec 2025<br>
        Adapted from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's fork</a> of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>.
    </p>
    <p></p>
    </td></tr>
</table>
</div>
