---
---

//
// IMPORTS
//

//@import "reset";
//@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
.body a {
  color: #1772d0;
  text-decoration: none;
}

.body a:focus, .body a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
.body a:not(.header_title) {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-display: auto;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-display: auto;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
  font-display: auto;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 14px;
  margin-block-end: 14px;
  margin-left: 0px;
  margin-right: 0px;

}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
// @import "svg-icons";

// For the header
.header_title a {
  font-family: inherit;
  font-size: 1.25rem;
  // font-weight: bold;
  text-decoration: none;
  color: black;
}

.header_items a {
  font-family: inherit;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.header_items a.active {
  color: #1772d0;
}

.header_items a:hover {
  color: #1772d0;
}

.header_items li {
  list-style: none;
}

// For blog posts
article img {
  max-width: 100%;
}

article blockquote {
  // background-color: #efefef;
  padding: 2%;
  // font-style: italic;
  border-left: 7px solid black;
}

article blockquote p {
  margin: 0;
}