---
layout: default
---

<link rel="stylesheet" href="/css/article.css">

<div id="nav-category">
    <div class="category-label">Categories</div>
    <ul id="category">
        {% for page in site.pages %}
            {% if page.layout == "category" and page.category != "recent-posts" %}
            <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div id="article-title">{{ page.title }}</div>
<div id="article-content">{{ content }}</div>