<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  {% if page.layout == 'blog' %}
  <link rel="stylesheet" type="text/css" href="/github-markdown-light.css">
  {% endif %}

  {% if page.use_math %}{% include mathjax_support.html %}{% endif %}
</head>

<body>
  <header style="width:100%;height:50px;top:0px;left:0px;border:1px solid rgba(0,0,0,.1);position:fixed;z-index:2;text-align:center;background-color:white;">
    <nav style="display:inline-block;text-align:left;margin-left:auto;margin-right:auto;vertical-align:middle;max-width:800px;width:100%;line-height:50px;" class="header">
      <div class="header_title" style="float:left;padding-left:2.5%;">
        <a href="/">Younghan Park</a>
      </div>
      <ul class="header_items" style="float:right;padding-right:2.5%;margin-block-start:0;margin-block-end:0;">
        <!-- <li><a href="/">about</a></li> -->
      </ul>
    </nav>
  </header>
  <div class="container body">
    <table style="margin-top:50px;width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tr style="padding:0px">
        <td style="padding:0px">
          {{ content }}
        </td>
      </tr>
    </table>
  </div>
</body>

</html>
